---
layout: default
title: Home
---
<div class="intro">
            <img align="bottom" style="max-width:300px; margin-left:auto" src="https://raw.githubusercontent.com/visualizingthefuture/visualizingthefuture.github.io/master/images/bowtie8d.png" alt="bowtie logo" id="logo"/>
            <br/>
            <h1 class="introTitle">Visualizing the Future</h1>
            Visualizing the Future is an IMLS National Forum Grant to develop a literacy-based instructional and research agenda for library and information professionals with the aim to create a community of praxis focused on data visualization. This grant aims to create a diverse community that will advance data visualization instruction and use beyond hands-on, technology-based tutorials toward a nuanced, critical understanding of visualization as a research product and form of expression. As part of this grant we are seeking applications for a cohort of fellows to: carry out research related to visualization, attend two in-person meetings over the next two years, and help in the development and dissemination of a framework for data visualization support in libraries and related institutions.
</div>
  <div class="posts">
              <h1>Updates:</h1>
  {% for post in paginator.posts %}
  <div class="post">
    <h2 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
